<div id="welcome" class="container-sm position-absolute top-50 start-50 translate-middle text-center">
    <h3>💥 SELAMAT DATANG DI SPINJAR777 💥</h3>
    <div>
        <p>Spin Jadi Pintar Max Win Beneran.</p>
        <p>🎰 Sekali spin, dapet cuan ilmu. </p>
        <p>💸 Gak ada boncos, gak ada tipu. </p>
        <p>🧠 Yang digacorin? Logika lo. </p>
        <p>👉 Gas sekarang, Spin Otak lo dulu bro!
        </p>
        <p>Ketik "🎯 MULAI" langsung spin buat dapetin MAXWIN yang beneran.

        </p>
        <p>Bisa masukin gambar, tangkapan layar, dan link website buat diperiksa biar lo langsung menghindar dan gak kena jebakan judol 🕸️.
        </p>
    </div>
</div>